Pillow
PyYAML
addict
future
insightface>=1.0.1
lmdb
lpips
numpy
onnx==1.22.0
onnxruntime
opencv-python
protobuf
scikit-image
scipy
torch
torchvision
tqdm
yapf
python-dotenv
runpod==1.11.0
pytest>=9.1.1
pytest-cov>=7.1.0
pytest-mock>=3.15.1
